@media only screen and (orientation:portrait) {
    .tab{transform: rotate(90deg);}
}
.tab{
    margin-top: 200px;
    overflow: auto;
    position: relative;
    height: 500px;
}
table{
    position: absolute;
    top: 0;
    left: 0;
}
.tab thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}
thead, th {
    position: sticky;
    background: #eee;
}


