@media only screen and (orientation:portrait) {
    .tableFixHead {transform: rotate(90deg);}
}
.para{
margin-bottom: 100px;
}

.tableFixHead          { 
    overflow: auto;
    height: 400px;
}
.tableFixHead thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}

/* Just common table stuff */
table  { border-collapse: collapse; 
        margin-bottom: 200px;
}
th, td { 
    padding: 8px 16px; 
}
th     { 
    background:#eee; 
}
